@import "../../global.scss";
.projects{
    background-color: $secondColor2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .projectHeader{
        color: $mainColor;
        font-size: 50px;
        position: absolute;
        top: 10px;
    }
    .leftArrow{
        font-size: 100px;
        color: $gray;
        position: absolute;
        left: 30px;
        cursor: pointer;
    }
    .rightArrow{
        font-size: 100px;
        color: $gray;
        position: absolute;
        right: 30px;
        cursor: pointer;
    }
    .projectSlider{
        height: 600px;
        display: flex;
        position: absolute;
        left: 0vw;
        transition: all 1s ease;
        top: 70px;
        .projectHolder{
            width:100vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .project{
                width: 1200px;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                flex-direction: column;
                
                .top{
                    display: flex;
                    flex:1;
                    width: 100%;
                    height: 20%;
                    background-color: $mainColor;
                    justify-content: center;
                    align-items: center;
                    color: $green;
                    font-size: 20px;
                    font-weight: 700;
                }
                .bottom{
                    flex:4;
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction:row;
                    
                    .left{
                        color: $green;
                        flex:2;
                        display: flex;
                        
                        flex-direction: column;
                        height:100%;
                        width: 40%;
                        background-color: $mainColor;
                        h2{
                            margin-top: 10px;
                            margin-bottom: 7px;
                            margin-left: 30px;
                        }
                        p{
                            padding: 20px 20px;
                            font-size: 17px;
                            margin-left: 30px;
                        }
                        .websiteLink{
                            font-size: 60px;
                            color: $gray;
                            margin-left: 30px;

                        }
                    }
                    .right{
                        display: flex;
                        flex: 3;
                        height: 100%;
                        width: 100%;
                        background-color: $mainColor;
                    }
                }
                
            }
        }

    }
}