@import "../../global.scss";
.topbar{
    width: 100%;
    height: 80px;
    background-color: $secondColor;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 3;
    overflow:hidden;
    .header{
        padding: 20px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftSide{
            display: flex;
            align-items: center;
            .logo{
                font-size: 40px;
                font-weight:700;
                text-decoration: none;
                color: inherit;
            }
            .gitLogo{
                margin-left: 30px;
                width: 40px;
            }
            .linkedinLogo{
                margin-left: 30px;
                width: 40px;
            }
        }
        .rightSide{
            .menu{
                width: 30px;
                height: 22px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 4px;
                    margin-top: 5px;
                    background-color: $mainColor;
                }
            }
        }
    }
    &.active{
        background-color: $mainColor;
        color: $secondColor;
    }
}
