@import "../../global.scss";
.topbar{
    width: 100%;
    height: 80px;
    background-color: $mainColor;
    color: $secondColor2;
    position: fixed;
    top: 0;
    z-index: 3;
    overflow:hidden;
    transition: all 1s ease;
    .header{
        padding: 12px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftSide{
            display: flex;
            align-items: center;
            .logo{
                font-size: 40px;
                font-weight:700;
                text-decoration: none;
                color: inherit;
                @include mobile{
                    font-size: 35px;
                }
            }
            
            .link1{
                font-size: 16px;
                font-weight: 500;
                margin-left: 50px;
                .gitLogo{
                    font-size: 40px;
                    color: $secondColor2;
                    margin-bottom: 2px;
                    transition: all 1s ease;
                }
                @include mobile{
                    display: none;
                }
            }
            .link2{
                font-size: 16px;
                font-weight: 500;
                margin-left: 50px;
                .linkedinLogo{
                    font-size: 40px;
                    color: $secondColor2;
                    margin-bottom: 2px;
                    transition: all 1s ease;
                    
                }
                @include mobile{
                    display: none;
                }
            }
            .links{
                font-size: 16px;
                font-weight: 500;
                margin-left: 5px;
            }
        }
        .rightSide{
            .sideMenu{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    transform-origin: left;
                    transition: all 2s ease;
                    width: 100%;
                    height: 3px;
                    background-color: $secondColor2;
                }
            }
        }
    }
    &.active{
        background-color: $secondColor2;
        color: $mainColor;
        .leftSide{
            .link1{
                .gitLogo{
                    color: $mainColor;
                }
            }
            .link2{
                .linkedinLogo{
                    color: $mainColor;
                }
            }
        }
        .sideMenu{
            span{
                &:first-child{
                    background-color: $mainColor;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                    transform: translateX(-50px);
                }
                &:last-child{
                    background-color: $mainColor;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}