@import "../../global.scss";
.about{
    background-color: #0C0032;
    display: flex;
    .left{
        flex: 0.5;
        width: 50%;
        height: 100%;
        overflow: hidden;
        .imageHolder{
            margin-top: calc((100% - (100vh - 180px))/3);
            margin-bottom: calc((100% - (100vh - 180px))/3);
            margin-left: 100px;
            height: calc(100vh - 180px);
            width: calc(100vh - 180px);
            overflow: hidden;
            background-color: $secondColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            float: left;
            .imageOfMe{
                margin: auto;
                margin-bottom: -10px;
                height: 100%;
            }
        }
    }
    .right{
        flex: 0.5;
        color: $secondColor;
        overflow: hidden;
        .wrapper{
            width: 80%;
            height: 100%;
            padding: 55px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2{
                font-size: 40px;
                margin-bottom: 10px;
            }
            h1{
                font-size: 65px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            p{
                font-size: 25px;
                margin-bottom: 35px;
            }
            h3{
                font-size: 30px;
                margin-bottom: 15px;
                list-style: decimal;
            }
        }
    }
}